//
// Mochapi
// --------------------------------------------------

@charset 'utf-8';

// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

// Common
@import './common/_normalize';
@import './common/_variables';
@import './common/_mixins';



//------------------------------------------------------------
// Elements
//

html {
  height: 100%;
  font-size: @font-size-base;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: @font-family-base;
  font-weight: @font-weight-base;
  line-height: @line-height-base;
  letter-spacing: @letter-spacing-base;
  color: @text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-weight: @font-weight-base;
}

a {
  color: @link-color;
  text-decoration: none;
  cursor: pointer;
  transition: all ease-out .3s;
  &:hover,
  &:active {
    color: @link-hover-color;
    text-decoration: none;
  }
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

ul,ol {
  margin: 0;
  padding-left: 0;
}

ul {
  list-style: none;
}

dl,dd {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}



//------------------------------------------------------------
// TopPage
//

.top {
  height: 100vh;
  overflow: hidden;
  background-image: url("static/images/bg.png");
  background-size: 300px 300px;
  background-color: #f7c46c;
  @media @viewport-max-440 {
    background-size: 200px 200px;
  }
}

#nameCard {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  height: 397px;
  background-color: @white;
  border-radius: .1em;
  box-shadow: 16px 16px rgba(196,126,90,.10);
  @media @viewport-max-440 {
    width: 295px;
    height: 514px;
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 2em;
    box-sizing: border-box;
    @media @viewport-max-440 {
      padding: 2em;
    }
  }
  .my-name {
    font-size: @font-xxxxl;
    line-height: @line-height-s;
  }
  .job {
    margin-top: 2em;
    line-height: @line-height-s;
    dd {
      display: inline-block;
      margin-top: .5em;
      font-size: @font-xs;
      color: @gray;
      &:after {
        content: "/";
        margin: 0 .2em;
        color: @gray-light;
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }
  address {
    font-style: normal;
  }
}
